
<% if @patient.user_id == current_user.id %>
    <%= form_with model: @patient do |f|%>
        <table>
            <tr>
                <th>Name</th>
                <th>Comment</th>
                <th>Action</th>
            </tr>
            <tr>
                <td><%= f.text_field :name, :value => @patient.name, :class => "name_field"%></td>
                <td><%= f.text_area :comment, :value => @patient.comment, :class => "comment_area"%></td>
                <td><%= f.submit "Save", :class => "button_save" %></td>  
            </tr>
        </table>
        <%end%>
<%else%>
        <h2> Hey wrong user</h2>
<%end%>

