
<% if @patient.user_id == current_user.id %>
    <%= form_with model: @patient do |f|%>
        <table>
            <tr>
                <td>Name</td>
                <td>Comment</td>
            </tr>
            <tr>
                <td><%= f.text_field :name, :value => @patient.name, :class => "name_field"%></td>
                <td><%= f.text_area :comment, :value => @patient.comment, :class => "comment_area"%></td>
            </tr>
        </table>
            <%= f.submit "Save" %>
        <%end%>
<%else%>
        <h2> Hey wrong user</h2>
<%end%>

