<% if current_user %>
<%= form_with model: @patient do |f|%>
    <table>
        <tr>
            <th>Name</th>
            <th>Comment</th>
            <th>Action</th>
        </tr>
        <tr>
            <td><%= f.text_field :name, :value => "Name", :class => "name_field"%></td>
            <td><%= f.text_area :comment, :value => "Comment", :class => "comment_area"%></td>
            <td><%= f.submit "Save", :class => "button_save" %></td> 
        </tr>
    </table>
    <%end%>
<% else%>
    <h2> You can not create a patient</h2>
<%end%>